body{
     background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34,193,195) 0%, rgb(104, 34, 195) 0%, rgb(141, 153, 32) 86%);
    background-attachment: fixed;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}
#form{
    width: 400px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    border: 5px;
    padding:30px;
}
h1{
    text-align: center;
    color:#430fd1 ;
}
#form button{
    background-color: #3907f1;
    color:white;
    border: 1px solid #1809ec;
    border-radius:5px ;
    padding:10px;
    margin:20px 0px;
    cursor:pointer;
    font-size: 20px;
    width:100%;
}
.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-group input{
  border-radius: 5px;  
  font-size: 20px;
  margin-top: 5px;
  padding:10px;
  border:1px solid rgb(18, 211, 214);
}
.input-group input:focus{
    outline:0;
}
.input-group.error{
    color: rgb(233, 14, 14);
    font-size: 16px;
    margin-top: 5px;
}
.input-group.success input{
    border-color: #0cc477;
}
.input-group.error input{
    border-color:rgb(218, 11, 11)
}
